.foot-1 {
    display: flex;
    padding: 10px 0;
    background: #393939;
}

.foot-1 > div {
    flex: 1;
    padding: 30px;
}

.foot-1 h1 {
    font-variant-caps: all-small-caps;
    color: #9f9f9f;
}

.foot-1 a {
    text-decoration: none;
    color: #797979;
    font-size: 18px;
    display: inline-block;
    margin: 0 0 14px 0;
}

.foot-1 a:hover {
    text-decoration: underline;
    color: #929292;
}

.foot-1 input[type='submit'] {
    background: inherit;
    border: solid 2px #efefef;
    margin: 20px 0;
    border-radius: 20px;
    width: 100%;
    font-weight: bold;
    color: #efefef;
    padding: 24px 0;
    cursor: pointer;
}

.foot-1 input[type='submit']:hover {
    color: #111;
    background: #efefef;
}

.foot-1 input[type='email'] {
    width: 100%;
    padding: 9px 20px;
    box-sizing: border-box;
    border-radius: 3px;
    border: solid 1px #fff;
    font-size: 18px;
}

.footer-address {
    color: #efefef;
    text-align: left;
}

.foot-2 {
    background: #050505;
    color: #fff;
    padding: 20px 0;
    font-size: 14px;
}

footer h1 { margin: 50px 0; }

@media only screen and (max-width: 720px) {
    .foot-1 {
        display: block;
    }

    footer > div { padding: 0; }
}