.form-section form {
  padding: 30px 12px;
  background: #f0f7ff;
  border: solid 1px #f0f7ff;
  border-radius: 12px;
  width: 45%;
  margin: 10px auto;
}

.form-section form input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  background: #fff;
  padding: 12px;
  border-radius: 8px;
  margin: 8px 0 30px 0;
  border: solid 1px #929292;
}

.form-section form input[type="password"] {
  width: 100%;
  box-sizing: border-box;
  background: #fff;
  padding: 12px;
  border-radius: 8px;
  margin: 8px 0 30px 0;
  border: solid 1px #929292;
}

.form-section form button {
  border: solid 1px #3e4684;
  border-radius: 10px;
  font-weight: bold;
  color: #eee;
  padding: 16px;
  margin: 10px 0;
  cursor: pointer;
  background: #3e4684;
}
